<div>
  <div class="slider fullscreen" #slider>
    <ul class="slides">
      <li>
        <img src="assets/images/cocina-blanca.jpeg" />
        <div class="caption left-align black-text text-darken-5">
          <h3>Necesitas ayuda con tus electrodomesticos, contactanos</h3>
          <h4 class="left black-text text-darken-5">
            Service especializado.
          </h4>
          <div class="row">
            <div class="col s12 m12">
              <div class="card-panel teal grey lighten-5 right opacity">
                <form>
                  <div class="row black-text">
                    <div class="input-field col s12 m4 grey lighten-5">
                      <i class="material-icons prefix">account_circle</i>
                      <input id="icon_prefix" type="text" class="validate" />
                      <label for="icon_prefix">Nombre</label>
                    </div>
                    <div class="input-field col s12 m4 grey lighten-5">
                      <i class="material-icons prefix">mail</i>
                      <input id="icon_mail" type="email" class="validate" />
                      <label for="icon_mail">E-Mail</label>
                    </div>
                    <div class="input-field col s12 m4 grey lighten-5">
                      <i class="material-icons prefix">phone</i>
                      <input
                        id="icon_telephone"
                        type="number"
                        class="validate"
                      />
                      <label for="icon_telephone">Telefono</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="right col s8 m3">
                      <button
                        class="btn waves-effect waves-light"
                        type="submit"
                        name="action"
                      >
                        Enviar
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div>
      <div class="section white">
        <div class="row container">
          <h2 class="header">Servicio técnico profesional</h2>
          <p class="grey-text text-darken-3 lighten-3">
            Una empresa familiar con solida experiencia en mantenimiento y
            reparación de electrodomésticos en hogares y comercios. Con el
            objetivo de dar un servicio de calidad y llevar soluciones a
            nuestros clientes.
          </p>
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax" appParallax>
          <img src="assets/images/heladera.jpeg" />
        </div>
      </div>

      <div class="section white">
        <div class="row container">
          <h2 class="header">Refrigeración</h2>
          <p class="grey-text text-darken-3 lighten-3">
            Service de heladeras, frezzer y aires acondicionados.
          </p>
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax" appParallax>
          <img src="assets/images/heladera.jpeg" />
        </div>
      </div>
    </div>
  </div>
</div>
